
body {
    background: #f2f2f2;
}

.intro {
    margin-top: 2em;
}

.main {
    min-height: 48em;
}

.nav-pills {
    margin: 0;
}

.nav-pills > li > a.message {
    border: 0;
    border-radius: 0.3em;
    color: #fff;
    font-weight: bold;
}

.nav-pills > li > a.alert {
    background: #c0392b;
}

.nav-pills > li > a.alert:hover {
    background: #e74c3c;
}

.nav-pills > li > a.success {
    /*background: #27ae60;*/
    background: #7bb33d;
}

.nav-pills > li > a.success:hover {
    /*background: #2ecc71;*/
    background: #73a839;
}

.nav-pills > li > a.alert > span {
    background: #fff;
    border-radius: 2em;
    color: #C0392B;
    font-size: 0.8em;
    padding: 0.1em 0.5em;
}

.nav-tabs {
    margin: 0 -1px 0 0 !important
}

.tab-pane {
    background: #fff;
    border: 1px solid #ddd;
    margin-left: 0px;
    padding: 0.5em 1.5em;
}

.dashbox {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    margin: 0 0 1em 0;
    padding: 0.75em 1em;
}

.span12.dashbox {
    padding: 0.75em 0;
}

.span12.dashbox .nav.pull-left {
    margin-left: 1em;
}

.span12.dashbox .nav.pull-right {
    margin-right: 1em;
}

.dashbox-report {
    margin-left: 0 !important;
}

.dashbox tbody tr.success {border-left: 2px solid #27ae60;}
.dashbox tbody tr.warning {border-left: 2px solid #f39c12;}
.dashbox tbody tr.error {border-left: 2px solid #e74c3c;}
.dashbox tbody tr.info {border-left: 2px solid #3498db;}

.dashbox tbody tr.success td,
.dashbox tbody tr.warning td,
.dashbox tbody tr.error td,
.dashbox tbody tr.info td {
    background: #fff !important;
}

.dashbox-stats .divide {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.dashbox-stats .stats {
    color: #4870A2;
    padding-top: 0.5em;
}

.dashbox-logs {
    font-size: 0.8em;
}

.footer {
    background-color: #2c3e50;
    margin-top: 6em;
    padding: 1em 0 0 0;
}