@charset "utf-8";

/* Layout */
body {
	font: 100% "Segoe UI", Calibri, Arial;
	margin: 0;
	padding: 0;
	color: #000;
	backgroud-color: #eeeeee;
}

.headercontainer {
	border-top: #4475ab 6px solid;
	background: #eeeeee;
}

.header {
	margin: 0 auto;
	width: 75%;
	max-width: 1100px;
	min-width: 900px;
	height: 80px;
	background: url("../img/logo.png") no-repeat left center;
}

.container {
	width: 75%;
	max-width: 1100px;
	min-width: 900px;
	background-color: #fff;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 25%;
	padding-bottom: 10px;
}

.content {
	padding: 0;
	width: 74%;
	min-width: 670px;
	float: right;
}

.footer {
	background: #e8e8e8;
	border-top: 8px solid #4475ab;
	padding: 5px 0;
	position: relative;
	clear: both; 
	margin: 0 auto;
	width: 75%;
	min-width: 900px;
	max-width: 1100px;
	color: #000000;
	margin-bottom: 10px;
}

/* Menu */
#menu {
	width: 900px;
	font-size: 20px;
	float: right;
	display: inline;
	margin-top: 45px;
}

#menu ul li {
	float: right;
	display: inline;
	list-style: none;
	margin-left: 30px;
	color: #4475ab;
	font-weight: 400;
	letter-spacing: 2px;
}

#menu a:link, #menu a:visited {
	text-decoration: none;
	color: #4475ab;
}

#menu a:hover, #menu a:active, #menu a:focus, #menu ul li .active {
	text-decoration: none;
	color: #022042;
}

/* Sidebar navigation */
ul.nav {
	list-style: none;
	border-top: 2px solid #4475ab;
	margin-bottom: 15px;
	margin-top: 3px;
}

ul.nav li {
	border-bottom: 1px solid #999;
}

ul.nav a, ul.nav a:visited {
	padding: 5px 6px 6px 6px;
	display: block;
	font-weight: 900;
	width: 95.3%;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #42413c;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #f3f3f3;
	color: #222222;
}

h6 {
	font-size: 18px;
	color: #666666;
	font-weight: 300 !important;
	margin-bottom: 3px;
}

/* Forms */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(68,117,171,0.8);
	outline: thin dotted 9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(68,117,171,.6);
}

input[type="file"] {
	box-shadow: none;
}

input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px 9;
	line-height: normal;
}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width: auto;
}

select, input[type="file"] {
	height: 30px;
	*margin-top: 4px;
	line-height: 30px;
}

select {
	width: 220px;
	border: 1px solid #ccc;
	background: #fff;
}

select:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: 5px auto;
	outline-offset: -2px;
}

.uneditable-input, .uneditable-textarea {
	color: #999;
	background: #fcfcfc;
	border-color: #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
	cursor: not-allowed;
}

.uneditable-input {
	overflow: hidden;
	white-space: nowrap;
}

.uneditable-textarea {
	width: auto;
	height: auto;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	cursor: not-allowed;
	background: #eee;
}

input:-moz-placeholder, textarea:-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, input:, textarea: {
	color: #999;
}

input[type="button"], input[type="reset"] {
	margin-top: -10px;
}

input[type="button"] {
	display: inline-block;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #4475ab;
	background-image: linear-gradient(to bottom,#4475ab,#22568f);
	background-repeat: repeat-x;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #04c;
	border: 1px solid #1b5da6;
	*border: 0;
	border-bottom-color: #15457b;
	*margin-left: .3em;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

input[type="reset"] {
	display: inline-block;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #e45023;
	background-image: linear-gradient(to bottom,#e45023,#c62f00);
	background-repeat: repeat-x;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #04c;
	border: 1px solid #e73600;
	*border: 0;
	border-bottom-color: #932300;
	*margin-left: .3em;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

/* Links */
.center {
	text-align: center;
	padding-top: 5px;
}

.button a {
	font-size: 15px;
	color: #ffffff !important;
	padding: 2px 6px 5px 6px;
	margin-right: 5px;
	background: #00baff;
}

.button a:hover, .button a:active, .button a:focus {
	background: #0090ff;
	text-decoration: none;
}

/* Alerts and messages */
.message {
	margin-top: 3px;
	padding: 6px 7px 2px 0;
	font-size: 14px;
	line-height: 1.2;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}

.m-message {
	background: #00aeee;
	background: linear-gradient(to bottom, #26c4ff 0%,#00aeee 100%);
	border: #0094cb 1px solid;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

.m-error {
	background: #e5a100;
	background: linear-gradient(to bottom, #ffb400 0%,#e5a100 100%);
	border: #c48a00 1px solid;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

.m-tick {
	background: #7ab300;
	background: linear-gradient(to bottom, #94d800 0%,#7ab300 100%);
	border: #689800 1px solid;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4),0 1px 2px rgba(0,0,0,.05);
}

.m-cross {
	background: #d92e00;
	background: linear-gradient(to bottom, #f63400 0%,#d92e00 100%);
	border: #bc2800 1px solid;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

.m-content {
	padding: 0 0 0 8px;
	margin-bottom: 7px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: 500;
	margin-bottom: 3px;
}

p, blockquote, ul.list li {
	font-size: 13px;
	line-height: 1.6;
	margin-top: 0;
	font-weight: 400;
}

h1 {
	border-bottom: 2px solid #4475ab;
}

a:link, a:visited {
	color: #4475ab;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

.footer p {
	padding: 0;
	margin: -5px 0 0 6px;
}

#right {
	text-align: right;
	margin: -21px 6px -4px 0;
}

#right a {
	color: #4475ab;
}
	
/* Other */
ul, ol, dl {
	padding: 0;
	margin: 0;
}
	
a img {
	border: none;
}

/* Multiple use */
.noborder { /* Removes every border */
	border: none;
}

.fltrt { /* Float right */
	float: right;
	margin-left: 8px;
}

.fltlft { /* Float left */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* Float reset */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}