* {
	margin: 0;
	padding: 0;
}

#flux-admin {
	font: 62.5%/100% "Helvetica Neue", arial, helvetica, sans-serif;
	color: #566579;
}

#flux-admin header {
	background: #F0F5FA;
	border-bottom: 1px solid #BCCEDA;
	padding: 5px;
}

#flux-admin header h1 {
	font: 2.8em/1.25em "Trebuchet MS", helvetica, arial, sans-serif;
}

#flux-admin nav#sidemenu {
	width: 50px;
	height: 100%;
	float: left;
	display: block;
	border-right: 2px solid #CACACA;
}

#flux-admin nav#sidemenu ul {
	list-style-type: none;
}

#flux-admin nav#sidemenu ul li a {
	margin-top: 10px;
	height: 50px;
	display: block;
	background: url('../img/sidemenu3.png') top center no-repeat;
	text-indent: -9999px;
}

#flux-admin nav#menu {
	margin-left: 50px;
	margin-bottom: 15px;
}

#flux-admin nav#menu ul {
	background-color: #F5F5F5;
	border-bottom: 1px solid #DADADA;
	padding-top: 5px;
	height: 26px;
	list-style-type: none;
}

#flux-admin nav#menu ul li {
	margin-left: 10px;
	float: left;
}

#flux-admin nav#menu ul li.active {
	background-color: white;
	border: 1px solid #DADADA;
	border-bottom-width: 0px;
}

#flux-admin nav#menu ul li a {
	font-size: 15px;
	display: block;
	padding: 8px;
}

#flux-admin .content {
	padding: 10px;
	margin-left: 60px;
}
